In [15]:
import requests
import pandas as pd
from time import sleep
import numpy as np

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options




import warnings
warnings.filterwarnings('ignore')

In [16]:
df = pd.read_csv("Data/df_hotels_22&21.csv", sep=',', encoding='UTF-8', index_col=0)
pd.options.display.max_columns = None
df.head(5)

,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year
0,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022
1,Grace Hotel,Santorini,Greece,Europe,Auberge Resorts Collection,99.22,2,20,Small,Coastal,2000,21,1.0,6.0,2022
2,Waldorf Astoria Maldives Ithaafushi,Ithaafushi Island,Maldives,Southeast Asia,Hilton,99.11,3,119,Small,Island,2019,21,1.0,80.0,2022
3,Pickering House Inn,Wolfeboro,United States,North America,Peter and Patty Cooke,98.95,4,10,Small,Boutique,1813,19,1.0,34.0,2022
4,One&Only Reethi Rah,North Malé Atoll,Maldives,Southeast Asia,Kerzner International,98.93,5,130,Small,Island,2005,21,0.0,0.0,2022

In [18]:
pd.set_option('display.max_rows', None)
df.head(1)

,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year
0,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022

In [22]:
print(df['Past_rank'].dtypes)

float64

To avoid getting errors in the google scraping I am going to link the hotel with the company

In [9]:
def add_columns(row):
    return f"hotel {row['Hotel']}"

In [14]:
df_hoteles_google = df[["Hotel"]]
df_hoteles_google["Hotel_buscador"] = df_hoteles_google.apply(join_columns, axis=1)
df_hoteles_google.head()

,Hotel,Hotel_buscador
0,Rosewood Castiglion del Bosco,hotel Rosewood Castiglion del Bosco
1,Grace Hotel,hotel Grace Hotel
2,Waldorf Astoria Maldives Ithaafushi,hotel Waldorf Astoria Maldives Ithaafushi
3,Pickering House Inn,hotel Pickering House Inn
4,One&Only Reethi Rah,hotel One&Only Reethi Rah

In [15]:
hotel_rev_google = df_hoteles_google["Hotel_buscador"].tolist()
print(hotel_rev_google)

['hotel Rosewood Castiglion del Bosco', 'hotel Grace Hotel', 'hotel Waldorf Astoria Maldives Ithaafushi', 'hotel Pickering House Inn', 'hotel One&Only Reethi Rah', 'hotel Royal Mansour Marrakech', 'hotel Capella Ubud', 'hotel The Lowell', 'hotel Hôtel Madame Rêve', 'hotel Rosewood Villa Magna', 'hotel The Oberoi New Delhi', 'hotel The Oberoi Udaivilas', 'hotel Mandapa, a Ritz-Carlton Reserve', 'hotel Wilderness Safaris Bisate Lodge', 'hotel Portrait Firenze', 'hotel Raffles Istanbul', 'hotel The Oberoi Marrakech', 'hotel Capella Hanoi', 'hotel White Elephant Palm Beach', 'hotel The Loutrel', 'hotel Monasterio', 'hotel Sani Asterias', 'hotel Shangri-La the Shard', 'hotel Coquillade Provence Resort & Spa', 'hotel Taj Palace', 'hotel Pendry Chicago', 'hotel Nayara Tented Camp', 'hotel Hotel Belmar', 'hotel Royal Champagne Hôtel & Spa', 'hotel Under Canvas Mount Rushmore', 'hotel Riggs Washington D.C.', 'hotel Waldorf Astoria Los Cabos Pedregal', 'hotel The Oberoi Vanyavilas Wildlife Resort', 'hotel Canaves Oia Epitome ', 'hotel The Standard ', 'hotel The Oberoi Amarvilas', 'hotel Hotel Santa Caterina', "hotel Raffles Grand Hotel d'Angkor", 'hotel Nihi Sumba', 'hotel La Réserve Paris', 'hotel Hotel de la Ville', 'hotel Il San Pietro di Positano', 'hotel Six Senses Yao Noi', 'hotel Finca Cortesin Hotel Golf & Spa', 'hotel Secret Bay', 'hotel Cape Grace', 'hotel Taj Lake Palace', 'hotel Taj Falaknuma Palace', 'hotel Alila Villas Uluwatu', 'hotel Manoir Hovey', 'hotel Six Senses Con Dao', 'hotel Cavas Wine Lodge', 'hotel Grand Hotel Tremezzo', 'hotel Nayara Springs', 'hotel Lodge on Little St. Simons Island', 'hotel Rancho Santana', 'hotel Amanpuri', 'hotel Mandarin Oriental Marrakech', 'hotel Namale Resort & Spa', "hotel Gibb's Farm", 'hotel Jade Mountain', 'hotel Borgo Egnazia', 'hotel Four Seasons Hotel Kyoto', 'hotel San Ysidro Ranch', 'hotel The Goring', 'hotel The Oberoi Rajvilas', 'hotel Palm Island Resort', 'hotel Hotel Savoy', 'hotel Rambagh Palace', 'hotel Curtain Bluff', 'hotel Morrison House Old Town Alexandria, Autograph Collection', 'hotel The Lytle Park Hotel, Autograph Collection', 'hotel Twin Farms', 'hotel Deer Path Inn', 'hotel One&Only Nyungwe House', 'hotel W Santiago', 'hotel Shangri-La Singapore', "hotel L'Ermitage Beverly Hills", 'hotel Silo Hotel', 'hotel Katikies Santorini', 'hotel Nobu Hotel', 'hotel The Shore Club', 'hotel Taj Holiday Village Resort & Spa', 'hotel Mandarin Oriental Bangkok', 'hotel Auberge Saint-Antoine', 'hotel Rosewood Miramar Beach', 'hotel Rio Celeste Hideaway Hotel', 'hotel Hotel Caesar Augustus', 'hotel Grand Hotel Villa Serbelloni', 'hotel Le Bristol Paris', 'hotel Shangri-La Bosphorus', 'hotel The Palms Turks & Caicos', 'hotel The Lodge at Blue Sky, Auberge Resorts Collection', 'hotel Little Palm Island Resort & Spa', 'hotel Le Sirenuse', 'hotel andBeyond Ngorongoro Crater Lodge', 'hotel Casa San Agustín', 'hotel The Connaught', 'hotel Wentworth Mansion', 'hotel Taj Lands End', 'hotel Birkenhead House', 'hotel Mahali Mzuri', 'hotel Nayara Tented Group', 'hotel The Opposite House', 'hotel Capella Bangkok', 'hotel Capella Ubud', 'hotel Grace Hotel', 'hotel Kamalame Cay', 'hotel The Oberoi Udaivilas', 'hotel The Temple House', 'hotel The Oberoi New Delhi', 'hotel Hotel Paracas', 'hotel Taj Holiday Village Resort & Spa', 'hotel Savute Elephant Lodge, A Belmond Safari', 'hotel The Oberoi Vanyavilas Wildlife Resort', 'hotel Mandarin Oriental Milan', 'hotel La Reserve Paris', 'hotel Nobu Ryokan', 'hotel Soneva Fushi', 'hotel Shangri-La the Shard', 'hotel Alila Manggis', 'hotel Phinda Vlei Lodge', 'hotel Il Sereno Lago di Como', 'hotel Manoir Hovey', 'hotel Canaves Oia Epitome ', 'hotel Istanbul At Sultanahmet', 'hotel The Peninsula Manila', 'hotel Hotel Il Pellicano', 'hotel Hotel Fasano Boa Vista', 'hotel Halekulani Okinawa', 'hotel The Lake House on Canandaigua', 'hotel Hyatt Regency Amritsar', 'hotel Leela Palace Udaipur', 'hotel Nayara Gardens', 'hotel Pickering House Inn', 'hotel Rancho Valencia Resort & Spa', 'hotel Nihi Sumba', 'hotel The Oberoi Mumbai', 'hotel Tierra Atacama Hotel & Spa', 'hotel Viceroy Riviera Maya', 'hotel St. Regis Istanbul', 'hotel Katikies Mykonos', 'hotel The Lanesborough', 'hotel Mandarin Oriental Bangkok', 'hotel The Roundtree', 'hotel Mashpi Lodge', 'hotel Angama Mara', 'hotel Raffles Istanbul', 'hotel Grand Hotel Excelsior Vittoria', 'hotel Sumaq Machu Picchu Hotel', 'hotel Las Ventanas al Paraíso', 'hotel The Oberoi Rajvilas', 'hotel Viceroy Chicago', "hotel Gibb's Farm", 'hotel Singita Grumeti', 'hotel Four Seasons Bangkok', 'hotel The Goring', 'hotel The Lodge & Spa at Brush Creek Ranch', 'hotel Taj Palace', 'hotel St. Regis Florence', 'hotel Mandarin Oriental Paris', 'hotel Matetsi Victoria Falls', 'hotel Round Hill Hotel and Villas', 'hotel Khwai River Lodge', 'hotel Soneva Jani', 'hotel The Oberoi Amarvilas', 'hotel Inn of the Five Graces', 'hotel Zadun, a Ritz-Carlton Reserve', 'hotel Mfuwe Lodge', 'hotel InterContinental Bora Bora Resort & Thalasso Spa', 'hotel Banyan Tree Cabo Marqués', 'hotel Ngala Safari Lodge', 'hotel Sasaab', 'hotel The Sukhothai Bangkok', 'hotel The Oberoi Grand', 'hotel Hôtel Plaza Athénée', 'hotel Mahekal Beach Resort', 'hotel The Fullerton Hotel Singapore', 'hotel Jade Mountain', 'hotel Casa Chameleon', 'hotel Hôtel Crillon Le Brave', 'hotel Le Bristol Paris', 'hotel Mandapa, a Ritz-Carlton Reserve', 'hotel Six Senses Laamu', 'hotel Waldorf Astoria Maldives Ithaafushi', 'hotel The Wickaninnish Inn', 'hotel Penha Longa Resort', 'hotel The St. Regis Bora Bora Resort', 'hotel Lion Sands Game Reserve', 'hotel Rambagh Palace', 'hotel The Oyster Box', 'hotel The Stafford', 'hotel Tambo del Inka, a Luxury Collection Resort & Spa', 'hotel Cap Maison', 'hotel Tensing Pen', 'hotel Hôtel Le Toiny', 'hotel Rosewood Mayakoba', 'hotel Canaves Oia Boutique Hotel', 'hotel Montage Los Cabos', "hotel Badrutt's Palace Hotel", 'hotel Finca Cortesin Hotel Golf & Spa']

In [145]:
hotel_rev = df["Hotel"].unique().tolist()
print(hotel_rev)

['Rosewood Castiglion del Bosco', 'Grace Hotel', 'Waldorf Astoria Maldives Ithaafushi', 'Pickering House Inn', 'One&Only Reethi Rah', 'Royal Mansour Marrakech', 'Capella Ubud', 'The Lowell', 'Hôtel Madame Rêve', 'Rosewood Villa Magna', 'The Oberoi New Delhi', 'The Oberoi Udaivilas', 'Mandapa, a Ritz-Carlton Reserve', 'Wilderness Safaris Bisate Lodge', 'Portrait Firenze', 'Raffles Istanbul', 'The Oberoi Marrakech', 'Capella Hanoi', 'White Elephant Palm Beach', 'The Loutrel', 'Monasterio', 'Sani Asterias', 'Shangri-La the Shard', 'Coquillade Provence Resort & Spa', 'Taj Palace', 'Pendry Chicago', 'Nayara Tented Camp', 'Hotel Belmar', 'Royal Champagne Hôtel & Spa', 'Under Canvas Mount Rushmore', 'Riggs Washington D.C.', 'Waldorf Astoria Los Cabos Pedregal', 'The Oberoi Vanyavilas Wildlife Resort', 'Canaves Oia Epitome ', 'The Standard ', 'The Oberoi Amarvilas', 'Hotel Santa Caterina', "Raffles Grand Hotel d'Angkor", 'Nihi Sumba', 'La Réserve Paris', 'Hotel de la Ville', 'Il San Pietro di Positano', 'Six Senses Yao Noi', 'Finca Cortesin Hotel Golf & Spa', 'Secret Bay', 'Cape Grace', 'Taj Lake Palace', 'Taj Falaknuma Palace', 'Alila Villas Uluwatu', 'Manoir Hovey', 'Six Senses Con Dao', 'Cavas Wine Lodge', 'Grand Hotel Tremezzo', 'Nayara Springs', 'Lodge on Little St. Simons Island', 'Rancho Santana', 'Amanpuri', 'Mandarin Oriental Marrakech', 'Namale Resort & Spa', "Gibb's Farm", 'Jade Mountain', 'Borgo Egnazia', 'Four Seasons Hotel Kyoto', 'San Ysidro Ranch', 'The Goring', 'The Oberoi Rajvilas', 'Palm Island Resort', 'Hotel Savoy', 'Rambagh Palace', 'Curtain Bluff', 'Morrison House Old Town Alexandria, Autograph Collection', 'The Lytle Park Hotel, Autograph Collection', 'Twin Farms', 'Deer Path Inn', 'One&Only Nyungwe House', 'W Santiago', 'Shangri-La Singapore', "L'Ermitage Beverly Hills", 'Silo Hotel', 'Katikies Santorini', 'Nobu Hotel', 'The Shore Club', 'Taj Holiday Village Resort & Spa', 'Mandarin Oriental Bangkok', 'Auberge Saint-Antoine', 'Rosewood Miramar Beach', 'Rio Celeste Hideaway Hotel', 'Hotel Caesar Augustus', 'Grand Hotel Villa Serbelloni', 'Le Bristol Paris', 'Shangri-La Bosphorus', 'The Palms Turks & Caicos', 'The Lodge at Blue Sky, Auberge Resorts Collection', 'Little Palm Island Resort & Spa', 'Le Sirenuse', 'andBeyond Ngorongoro Crater Lodge', 'Casa San Agustín', 'The Connaught', 'Wentworth Mansion', 'Taj Lands End', 'Birkenhead House', 'Mahali Mzuri', 'Nayara Tented Group', 'The Opposite House', 'Capella Bangkok', 'Kamalame Cay', 'The Temple House', 'Hotel Paracas', 'Savute Elephant Lodge, A Belmond Safari', 'Mandarin Oriental Milan', 'La Reserve Paris', 'Nobu Ryokan', 'Soneva Fushi', 'Alila Manggis', 'Phinda Vlei Lodge', 'Il Sereno Lago di Como', 'Istanbul At Sultanahmet', 'The Peninsula Manila', 'Hotel Il Pellicano', 'Hotel Fasano Boa Vista', 'Halekulani Okinawa', 'The Lake House on Canandaigua', 'Hyatt Regency Amritsar', 'Leela Palace Udaipur', 'Nayara Gardens', 'Rancho Valencia Resort & Spa', 'The Oberoi Mumbai', 'Tierra Atacama Hotel & Spa', 'Viceroy Riviera Maya', 'St. Regis Istanbul', 'Katikies Mykonos', 'The Lanesborough', 'The Roundtree', 'Mashpi Lodge', 'Angama Mara', 'Grand Hotel Excelsior Vittoria', 'Sumaq Machu Picchu Hotel', 'Las Ventanas al Paraíso', 'Viceroy Chicago', 'Singita Grumeti', 'Four Seasons Bangkok', 'The Lodge & Spa at Brush Creek Ranch', 'St. Regis Florence', 'Mandarin Oriental Paris', 'Matetsi Victoria Falls', 'Round Hill Hotel and Villas', 'Khwai River Lodge', 'Soneva Jani', 'Inn of the Five Graces', 'Zadun, a Ritz-Carlton Reserve', 'Mfuwe Lodge', 'InterContinental Bora Bora Resort & Thalasso Spa', 'Banyan Tree Cabo Marqués', 'Ngala Safari Lodge', 'Sasaab', 'The Sukhothai Bangkok', 'The Oberoi Grand', 'Hôtel Plaza Athénée', 'Mahekal Beach Resort', 'The Fullerton Hotel Singapore', 'Casa Chameleon', 'Hôtel Crillon Le Brave', 'Six Senses Laamu', 'The Wickaninnish Inn', 'Penha Longa Resort', 'The St. Regis Bora Bora Resort', 'Lion Sands Game Reserve', 'The Oyster Box', 'The Stafford', 'Tambo del Inka, a Luxury Collection Resort & Spa', 'Cap Maison', 'Tensing Pen', 'Hôtel Le Toiny', 'Rosewood Mayakoba', 'Canaves Oia Boutique Hotel', 'Montage Los Cabos', "Badrutt's Palace Hotel"]

# Reviews tripadvisor

In [153]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get("https://www.tripadvisor.com")

In [137]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('--incognito')#incognito window

In [140]:
reviews_tripadvisor = {"Hotel": [],
                    "Trip_Rate": [], 
                    "Trip_Location": [], 
                    "Trip_Cleanliness": [], 
                    "Trip_Service": [], 
                    "Trip_Value": [], 
                    "Room_price": []}
    
for hotel in hotel_rev: 
    driver = webdriver.Chrome(ChromeDriverManager().install())
    driver.implicitly_wait(9)


        ## accedemos a la pagina web
    driver.get("https://www.tripadvisor.com")
    driver.implicitly_wait(14)

        # aceptamos las cookies                

    driver.find_element("css selector", "#onetrust-accept-btn-handler").click()
    sleep(7)

    driver.find_element("css selector", "#lithium-root > main > div.cBOoN > div.rGQXC._T.ivvQp > div > div > div:nth-child(1) > a > span.QLiHN.o.W > span").click()
    sleep(5)

    driver.find_element("css selector", "body > div.kaEuY > div > form > input.qjfqs._G.B-.z._J.Cj.R0").click()
    sleep(5)

    driver.find_element("css selector", "body > div.kaEuY > div > form > input.qjfqs._G.B-.z._J.Cj.R0").send_keys(f"{hotel}", Keys.TAB)
    sleep(6)

    driver.find_element("css selector", "#typeahead_results > a:nth-child(2) > div.EtzER > div.biGQs._P.fiohW.fOtGX").click()
    sleep(5)
        
    reviews_tripadvisor["Hotel"].append(f"{hotel}")

    try:
        reviews_tripadvisor["Trip_Rate"].append(float(driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.grdwI.P > span").text))
    except: 
        reviews_tripadvisor["Trip_Rate"].append(np.nan)

    try:
        reviews_tripadvisor["Trip_Location"].append(float(driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.SSDgd > div:nth-child(1) > span.CzVMJ").text))
    except: 
        reviews_tripadvisor["Trip_Location"].append(np.nan)

    try:
        reviews_tripadvisor["Trip_Cleanliness"].append(float(driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.SSDgd > div:nth-child(2) > span.CzVMJ").text))
    except: 
        reviews_tripadvisor["Trip_Cleanliness"].append(np.nan)

    try:
        reviews_tripadvisor["Trip_Service"].append(float(driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.SSDgd > div:nth-child(3) > span.CzVMJ").text))
    except: 
        reviews_tripadvisor["Trip_Service"].append(np.nan)

    try:
        reviews_tripadvisor["Trip_Value"].append(float(driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.SSDgd > div:nth-child(4) > span.CzVMJ").text))
    except: 
        reviews_tripadvisor["Trip_Value"].append(np.nan)

    driver.quit()

        #Trip_Rate = driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.grdwI.P > span").text
        #Trip_Location = driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.SSDgd > div:nth-child(1) > span.CzVMJ").text
        #Trip_Cleanliness = driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.SSDgd > div:nth-child(2) > span.CzVMJ").text
        #Trip_Service = driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.SSDgd > div:nth-child(3) > span.CzVMJ").text
        #Trip_Value = driver.find_element("css selector", "#ABOUT_TAB > div.ui_columns.MXlSZ > div:nth-child(1) > div.SSDgd > div:nth-child(4) > span.CzVMJ").text
        #Room_price = driver.find_element("css selector", "#ABOUT_TAB > div > div:nth-child(2)").text

In [141]:
print(reviews_tripadvisor)

{'Hotel': ['Rosewood Castiglion del Bosco', 'Grace Hotel', 'Waldorf Astoria Maldives Ithaafushi', 'Pickering House Inn', 'One&Only Reethi Rah', 'Royal Mansour Marrakech', 'Capella Ubud', 'The Lowell', 'Hôtel Madame Rêve', 'Rosewood Villa Magna', 'The Oberoi New Delhi', 'The Oberoi Udaivilas', 'Mandapa, a Ritz-Carlton Reserve', 'Wilderness Safaris Bisate Lodge', 'Portrait Firenze', 'Raffles Istanbul', 'The Oberoi Marrakech', 'Capella Hanoi', 'White Elephant Palm Beach', 'The Loutrel', 'Monasterio', 'Sani Asterias', 'Shangri-La the Shard', 'Coquillade Provence Resort & Spa', 'Taj Palace', 'Pendry Chicago', 'Nayara Tented Camp', 'Hotel Belmar', 'Royal Champagne Hôtel & Spa', 'Under Canvas Mount Rushmore', 'Riggs Washington D.C.', 'Waldorf Astoria Los Cabos Pedregal', 'The Oberoi Vanyavilas Wildlife Resort', 'Canaves Oia Epitome ', 'The Standard ', 'The Oberoi Amarvilas', 'Hotel Santa Caterina', "Raffles Grand Hotel d'Angkor", 'Nihi Sumba', 'La Réserve Paris', 'Hotel de la Ville', 'Il San Pietro di Positano', 'Six Senses Yao Noi', 'Finca Cortesin Hotel Golf & Spa', 'Secret Bay', 'Cape Grace', 'Taj Lake Palace', 'Taj Falaknuma Palace', 'Alila Villas Uluwatu', 'Manoir Hovey', 'Six Senses Con Dao', 'Cavas Wine Lodge', 'Grand Hotel Tremezzo', 'Nayara Springs', 'Lodge on Little St. Simons Island', 'Rancho Santana', 'Amanpuri', 'Mandarin Oriental Marrakech', 'Namale Resort & Spa', "Gibb's Farm", 'Jade Mountain', 'Borgo Egnazia', 'Four Seasons Hotel Kyoto', 'San Ysidro Ranch', 'The Goring', 'The Oberoi Rajvilas', 'Palm Island Resort', 'Hotel Savoy', 'Rambagh Palace', 'Curtain Bluff', 'Morrison House Old Town Alexandria, Autograph Collection', 'The Lytle Park Hotel, Autograph Collection', 'Twin Farms', 'Deer Path Inn', 'One&Only Nyungwe House', 'W Santiago', 'Shangri-La Singapore', "L'Ermitage Beverly Hills", 'Silo Hotel', 'Katikies Santorini', 'Nobu Hotel', 'The Shore Club', 'Taj Holiday Village Resort & Spa', 'Mandarin Oriental Bangkok', 'Auberge Saint-Antoine', 'Rosewood Miramar Beach', 'Rio Celeste Hideaway Hotel', 'Hotel Caesar Augustus', 'Grand Hotel Villa Serbelloni', 'Le Bristol Paris', 'Shangri-La Bosphorus', 'The Palms Turks & Caicos', 'The Lodge at Blue Sky, Auberge Resorts Collection', 'Little Palm Island Resort & Spa', 'Le Sirenuse', 'andBeyond Ngorongoro Crater Lodge', 'Casa San Agustín', 'The Connaught', 'Wentworth Mansion', 'Taj Lands End', 'Birkenhead House', 'Mahali Mzuri', 'Nayara Tented Group', 'The Opposite House', 'Capella Bangkok', 'Kamalame Cay', 'The Temple House', 'Hotel Paracas', 'Savute Elephant Lodge, A Belmond Safari', 'Mandarin Oriental Milan', 'La Reserve Paris', 'Nobu Ryokan', 'Soneva Fushi', 'Alila Manggis', 'Phinda Vlei Lodge', 'Il Sereno Lago di Como', 'Istanbul At Sultanahmet', 'The Peninsula Manila', 'Hotel Il Pellicano', 'Hotel Fasano Boa Vista', 'Halekulani Okinawa', 'The Lake House on Canandaigua', 'Hyatt Regency Amritsar', 'Leela Palace Udaipur', 'Nayara Gardens', 'Rancho Valencia Resort & Spa', 'The Oberoi Mumbai', 'Tierra Atacama Hotel & Spa', 'Viceroy Riviera Maya', 'St. Regis Istanbul', 'Katikies Mykonos', 'The Lanesborough', 'The Roundtree', 'Mashpi Lodge', 'Angama Mara', 'Grand Hotel Excelsior Vittoria', 'Sumaq Machu Picchu Hotel', 'Las Ventanas al Paraíso', 'Viceroy Chicago', 'Singita Grumeti', 'Four Seasons Bangkok', 'The Lodge & Spa at Brush Creek Ranch', 'St. Regis Florence', 'Mandarin Oriental Paris', 'Matetsi Victoria Falls', 'Round Hill Hotel and Villas', 'Khwai River Lodge', 'Soneva Jani', 'Inn of the Five Graces', 'Zadun, a Ritz-Carlton Reserve', 'Mfuwe Lodge', 'InterContinental Bora Bora Resort & Thalasso Spa', 'Banyan Tree Cabo Marqués', 'Ngala Safari Lodge', 'Sasaab', 'The Sukhothai Bangkok', 'The Oberoi Grand', 'Hôtel Plaza Athénée', 'Mahekal Beach Resort', 'The Fullerton Hotel Singapore', 'Casa Chameleon', 'Hôtel Crillon Le Brave', 'Six Senses Laamu', 'The Wickaninnish Inn', 'Penha Longa Resort', 'The St. Regis Bora Bora Resort', 'Lion Sands Game Reserve', 'The Oyster Box', 'The Stafford', 'Tambo del Inka, a Luxury Collection Resort & Spa', 'Cap Maison', 'Tensing Pen', 'Hôtel Le Toiny', 'Rosewood Mayakoba', 'Canaves Oia Boutique Hotel', 'Montage Los Cabos', "Badrutt's Palace Hotel"], 'Trip_Rate': [5.0, 5.0, 5.0, 5.0, 5.0, 4.5, 5.0, 4.0, 4.5, 4.5, 5.0, 5.0, 5.0, 4.5, 5.0, 5.0, 5.0, 5.0, 4.5, 5.0, 5.0, 5.0, 5.0, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 5.0, 5.0, 5.0, 5.0, 4.5, 5.0, 4.5, 4.5, 5.0, 5.0, 5.0, 5.0, 5.0, 4.5, 5.0, 5.0, 5.0, 4.5, 4.5, 4.5, 4.5, 5.0, 5.0, 5.0, 5.0, 5.0, 4.5, 5.0, 5.0, 5.0, 5.0, 4.5, 4.5, 4.5, 5.0, 5.0, 4.5, 4.0, 5.0, 5.0, 4.5, 5.0, 5.0, 5.0, 5.0, 4.0, nan, 4.5, 4.5, 5.0, 5.0, 4.5, 4.5, 5.0, 5.0, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 5.0, 4.5, 4.5, 5.0, 5.0, 5.0, 5.0, 4.5, 5.0, 5.0, 5.0, 5.0, 5.0, 4.5, 5.0, 4.5, 4.5, 5.0, 5.0, 4.5, 5.0, 4.5, 5.0, nan, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 5.0, 5.0, 4.5, 5.0, 5.0, 4.5, 4.5, 4.5, 5.0, 4.5, 5.0, 5.0, 5.0, 4.5, 5.0, 4.5, 5.0, 4.5, 5.0, 5.0, 5.0, 5.0, 5.0, 4.5, 5.0, 5.0, 4.5, 5.0, 4.5, 5.0, 5.0, 5.0, 4.5, 5.0, 4.5, 4.5, 4.5, 5.0, 4.5, 5.0, 4.5, 4.5, 5.0, 5.0, 5.0, 5.0, 5.0, 4.5, 5.0, 4.5, 5.0, 5.0, 5.0, 5.0], 'Trip_Location': [4.7, 4.9, 4.9, 5.0, 4.8, 4.9, 4.9, 4.5, 4.6, 4.7, 4.6, 4.9, 4.9, 4.3, 5.0, 4.7, 4.8, 5.0, 5.0, 5.0, 4.9, 4.9, 4.8, 4.8, 4.5, 4.9, 4.9, 4.6, 4.9, 4.8, 4.9, 4.9, 4.9, 4.8, 4.7, 5.0, 4.5, 5.0, 4.9, 4.8, 5.0, 4.9, 4.9, 4.4, 4.9, 4.9, 4.9, 4.6, 4.5, 4.9, 4.8, 4.8, 4.9, 4.9, 4.9, 4.8, 4.8, 4.7, 4.8, 4.7, 4.8, 4.3, 4.5, 4.9, 4.8, 4.5, 4.9, 4.6, 4.8, 4.9, 4.8, 4.9, 4.8, 4.9, 5.0, 4.6, nan, 4.8, 4.9, 4.9, 4.5, 4.7, 4.7, 4.7, 4.9, 4.8, 4.5, 4.9, 4.9, 4.9, 4.6, 4.9, 5.0, 4.9, 4.9, 4.9, 4.9, 4.9, 4.6, 4.6, 4.9, 4.9, 4.9, 4.8, 4.8, 4.8, 4.9, 4.6, 4.9, 4.9, 4.8, 5.0, 4.9, 4.3, 4.9, nan, 4.9, 4.6, 4.8, 4.7, 4.3, 4.8, 4.3, 4.9, 4.8, 4.7, 4.8, 4.8, 4.6, 4.8, 4.7, 4.9, 4.8, 4.9, 5.0, 5.0, 4.7, 4.9, 4.9, 5.0, 4.6, 4.9, 4.8, 4.9, 4.8, 4.8, 4.9, 4.8, 5.0, 4.7, 4.9, 4.9, 4.8, 4.8, 4.8, 4.3, 4.8, 4.9, 4.8, 4.8, 4.9, 4.9, 4.8, 4.9, 4.6, 4.9, 4.9, 5.0, 4.9, 4.7, 4.7, 4.8, 4.8, 4.8, 4.9, 4.9, 4.9], 'Trip_Cleanliness': [4.9, 4.9, 4.9, 4.8, 4.9, 4.9, 5.0, 4.3, 4.6, 4.8, 4.8, 4.9, 5.0, 4.6, 4.9, 4.9, 5.0, 5.0, 4.8, 5.0, 4.9, 4.9, 4.9, 4.8, 4.7, 4.9, 4.9, 4.7, 4.9, 4.7, 4.9, 4.9, 5.0, 4.9, 4.5, 4.9, 4.7, 5.0, 4.9, 5.0, 5.0, 4.8, 4.9, 4.9, 5.0, 4.9, 4.9, 4.9, 4.8, 4.8, 4.7, 4.7, 4.9, 5.0, 4.8, 4.9, 4.8, 4.9, 4.8, 4.9, 4.9, 4.9, 4.8, 4.9, 4.9, 4.9, 4.7, 4.4, 4.9, 4.8, 4.8, 4.9, 4.9, 5.0, 5.0, 4.5, nan, 4.9, 4.9, 4.9, 4.9, 4.9, 4.5, 4.9, 4.9, 4.8, 4.8, 4.7, 4.6, 4.9, 4.7, 4.8, 4.7, 4.7, 4.9, 4.8, 4.9, 4.9, 4.8, 4.7, 4.9, 5.0, 4.9, 4.8, 5.0, 4.6, 4.9, 4.8, 4.9, 4.9, 5.0, 4.8, 4.9, 4.7, 4.9, nan, 4.9, 4.6, 4.8, 4.7, 4.6, 4.8, 4.4, 4.9, 4.9, 4.9, 4.9, 4.8, 4.8, 4.8, 4.9, 4.9, 4.5, 4.9, 4.9, 4.9, 4.8, 4.9, 4.8, 4.9, 4.9, 4.9, 4.9, 4.9, 5.0, 4.8, 4.9, 4.9, 4.9, 4.6, 4.9, 4.8, 4.8, 4.9, 4.9, 4.8, 4.8, 4.9, 4.8, 4.7, 5.0, 4.9, 4.9, 4.8, 4.8, 4.8, 4.9, 4.9, 4.8, 5.0, 4.7, 4.7, 4.8, 4.9, 4.8, 4.9, 4.9], 'Trip_Service': [4.8, 4.8, 4.8, 4.9, 4.8, 4.7, 5.0, 3.7, 4.6, 4.7, 4.8, 4.8, 4.9, 4.9, 4.9, 4.9, 5.0, 5.0, 4.9, 4.9, 4.8, 4.9, 4.6, 4.7, 4.6, 4.8, 4.9, 4.7, 4.6, 4.7, 4.8, 4.9, 5.0, 4.9, 4.2, 4.8, 4.6, 4.7, 4.9, 4.9, 4.8, 4.8, 4.8, 4.7, 5.0, 4.9, 4.9, 4.8, 4.8, 4.8, 4.7, 4.8, 4.8, 4.9, 4.9, 4.8, 4.6, 4.8, 4.9, 4.8, 4.8, 4.5, 4.5, 4.7, 4.8, 4.9, 4.7, 4.3, 4.8, 4.8, 4.7, 4.9, 4.8, 5.0, 4.9, 4.2, nan, 4.8, 4.7, 4.9, 4.8, 4.5, 4.5, 4.9, 4.8, 4.3, 4.7, 4.5, 4.4, 4.9, 4.7, 4.6, 4.7, 4.7, 4.8, 4.8, 4.9, 4.8, 4.9, 4.6, 4.9, 5.0, 4.9, 4.8, 4.9, 4.6, 4.9, 4.6, 4.9, 4.8, 4.9, 4.6, 4.9, 4.8, 4.9, nan, 4.9, 4.6, 4.7, 4.6, 4.0, 4.2, 4.2, 4.9, 4.9, 4.8, 4.8, 4.8, 4.8, 4.8, 4.9, 4.9, 4.7, 4.9, 4.9, 4.8, 4.8, 4.9, 4.7, 4.9, 4.6, 4.9, 4.8, 4.8, 5.0, 4.7, 4.8, 4.8, 4.9, 4.7, 4.9, 4.6, 4.7, 4.9, 4.9, 4.7, 4.8, 4.8, 4.7, 4.5, 4.9, 4.6, 4.9, 4.7, 4.6, 4.7, 4.9, 4.9, 4.8, 4.8, 4.6, 4.6, 4.7, 4.9, 4.8, 5.0, 4.8], 'Trip_Value': [4.4, 4.4, 4.5, 4.4, 4.2, 4.3, 4.8, 3.6, 4.3, 4.2, 4.3, 4.6, 4.7, 4.5, 4.6, 4.6, 4.9, 4.7, 3.8, 4.8, 4.3, 4.5, 4.3, 4.3, 4.3, 4.6, 4.8, 4.4, 4.4, 4.2, 4.6, 4.5, 4.7, 4.6, 3.7, 4.4, 4.3, 4.5, 4.7, 4.6, 4.5, 4.3, 4.5, 4.2, 4.8, 4.5, 4.5, 4.5, 4.4, 4.4, 4.2, 4.4, 4.2, 4.8, 4.5, 4.7, 4.0, 4.5, 4.5, 4.5, 4.2, 4.0, 4.0, 4.0, 4.4, 4.6, 4.5, 4.0, 4.6, 4.5, 4.3, 4.8, 4.3, 4.7, 4.5, 3.8, nan, 4.5, 4.3, 4.4, 4.7, 4.3, 4.2, 4.4, 4.5, 4.0, 4.5, 4.0, 3.7, 4.4, 4.3, 4.3, 4.5, 4.1, 4.3, 4.4, 4.6, 4.3, 4.6, 4.3, 4.6, 4.8, 4.8, 4.4, 4.8, 4.3, 4.7, 4.3, 4.5, 4.5, 4.6, 3.6, 4.6, 4.4, 4.6, nan, 4.4, 4.2, 3.9, 3.9, 3.6, 3.8, 4.1, 4.5, 4.7, 4.3, 4.5, 4.4, 4.3, 4.6, 4.5, 4.6, 4.3, 4.6, 4.8, 4.4, 4.3, 4.4, 4.5, 4.6, 4.3, 4.6, 4.4, 4.4, 4.9, 4.3, 4.4, 4.6, 4.6, 4.5, 4.7, 4.2, 4.3, 4.7, 4.8, 4.4, 4.5, 4.4, 4.4, 4.1, 4.7, 4.2, 4.5, 4.2, 4.3, 4.3, 4.7, 4.5, 4.4, 4.6, 4.3, 4.5, 4.7, 4.5, 4.4, 4.6, 4.4], 'Room_price': []}

In [ ]:
datos_trip = pd.DataFrame(reviews_tripadvisor, columns=["Hotel","Trip_Rate","Trip_Location","Trip_Cleanliness","Trip_Service","Trip_Value"]

# CLEANING TRIP

Filling the two empty hotels : Shangri-La Singapore & Il Sereno

In [155]:
datos_trip.loc[76, 'Trip_Rate'] = 4.5
datos_trip.loc[76, 'Trip_Location'] = 4.4
datos_trip.loc[76, 'Trip_Cleanliness'] = 4.7
datos_trip.loc[76, 'Trip_Service'] = 4.7
datos_trip.loc[76, 'Trip_Value'] = 4.2
datos_trip.loc[[76]]

,Hotel,Trip_Rate,Trip_Location,Trip_Cleanliness,Trip_Service,Trip_Value
76,Shangri-La Singapore,4.5,4.4,4.7,4.7,4.2

In [156]:
datos_trip.to_csv("Data/df_datos_trip.csv")

# Reviews Google

In [16]:
    reviews_google = {"Hotel_buscador": [],
                    "Google_Rate": [], 
                    "Google_Habs": [], 
                    "Google_Location": [], 
                    "Google_Service": []}
    
    for hotel in hotel_rev_google: 
        driver = webdriver.Chrome(ChromeDriverManager().install())
        driver.implicitly_wait(10)
            ## accedemos a la pagina web
        driver.get("https://www.google.com")
        driver.implicitly_wait(8)

        driver.find_element("css selector", "#L2AGLb > div").click()
        sleep(4)

        driver.find_element("css selector", "body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf > div.RNNXgb > div > div.a4bIc > input").send_keys(f"{hotel}", Keys.ENTER)
        sleep(10)
        
        reviews_google["Hotel_buscador"].append(hotel)
        
        try:
            reviews_google["Google_Rate"].append(float(driver.find_element("xpath", '/html/body/div[7]/div/div[11]/div[2]/div/div/div[2]/div/div[1]/div/div[2]/div[2]/div/div/span[1]').text.replace(",", ".")))
        except: 
            reviews_google["Google_Rate"].append(np.nan)

        try:
            reviews_google["Google_Habs"].append(float(driver.find_element("xpath", '/html/body/div[7]/div/div[11]/div[2]/div/div/div[2]/div/div[3]/div/div/div/div/div[4]/div/div/div/div/div/div/div/div[3]/div[1]/span[3]/span/span[1]').text.replace(",", ".")))
        except: 
            reviews_google["Google_Habs"].append(np.nan)

        try:
            reviews_google["Google_Location"].append(float(driver.find_element("xpath", '/html/body/div[7]/div/div[11]/div[2]/div/div/div[2]/div/div[3]/div/div/div/div/div[4]/div/div/div/div/div/div/div/div[3]/div[2]/span[3]/span/span[1]').text.replace(",", ".")))
        except: 
            reviews_google["Google_Location"].append(np.nan)

        try:
            reviews_google["Google_Service"].append(float(driver.find_element("xpath", '/html/body/div[7]/div/div[11]/div[2]/div/div/div[2]/div/div[3]/div/div/div/div/div[4]/div/div/div/div/div/div/div/div[3]/div[3]/span[3]/span/span[1]').text.replace(",", ".")))
        except: 
            reviews_google["Google_Service"].append(np.nan)

        driver.quit()
    
    #Google_Rate = float(driver.find_element("xpath", '/html/body/div[7]/div/div[11]/div[2]/div/div/div[2]/div/div[1]/div/div[2]/div[2]/div/div/span[1]').text.replace(",", "."))
    #Google_Habs = float(driver.find_element("xpath", '/html/body/div[7]/div/div[11]/div[2]/div/div/div[2]/div/div[3]/div/div/div/div/div[4]/div/div/div/div/div/div/div/div[3]/div[1]/span[3]/span/span[1]').text.replace(",", "."))
    #Google_Ubi =float(driver.find_element("xpath", '/html/body/div[7]/div/div[11]/div[2]/div/div/div[2]/div/div[3]/div/div/div/div/div[4]/div/div/div/div/div/div/div/div[3]/div[2]/span[3]/span/span[1]').text.replace(",", "."))
    #Google_Service =float(driver.find_element("xpath", '/html/body/div[7]/div/div[11]/div[2]/div/div/div[2]/div/div[3]/div/div/div/div/div[4]/div/div/div/div/div/div/div/div[3]/div[3]/span[3]/span/span[1]').text.replace(",", "."))

[WDM] - Downloading: 100%|█████████████████| 8.61M/8.61M [00:00<00:00, 15.8MB/s]

In [21]:
datos_google = pd.DataFrame(reviews_google, columns=["Hotel","Google_Rate","Google_Habs","Google_Location","Google_Service"])
datos_google.head()

  Hotel  Google_Rate  Google_Habs  Google_Location  Google_Service
0   NaN          4.8          4.3              4.1             4.6
1   NaN          4.4          NaN              NaN             NaN
2   NaN          4.7          4.6              4.6             4.6
3   NaN          4.9          NaN              NaN             NaN
4   NaN          4.7          4.1              4.6             4.2

In [ ]:
datos_google = datos_google.assign(Hotel = df_hoteles_google["Hotel"])

# Revision Scrapping Google

In [34]:
datos_google.loc[1, 'Google_Rate'] = 4.6
datos_google.loc[1, 'Google_Habs'] = 4.8
datos_google.loc[1, 'Google_Location'] = 4.6
datos_google.loc[1, 'Google_Service'] = 4.5

datos_google.loc[[1]]

         Hotel  Google_Rate  Google_Habs  Google_Location  Google_Service
1  Grace Hotel          4.6          4.8              4.6             4.5

In [122]:
datos_google.loc[198, 'Google_Rate'] = 4.8
datos_google.loc[193, 'Google_Habs'] = 4.0
datos_google.loc[193, 'Google_Location'] = 4.3
datos_google.loc[193, 'Google_Service'] = 4.0

datos_google.loc[[96]]

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
96,Casa San Agustín,4.6,4.4,4.8,4.7

In [143]:
datos_google.to_csv("Data/df_datos_google.csv")

In [10]:
datos_google = pd.read_csv("Data/df_datos_google.csv", sep=',', encoding='UTF-8', index_col=0)
datos_google.shape

(201, 5)

I remove the duplicate hotels, they have the same values.

In [12]:
datos_google_unicos = datos_google.drop_duplicates()
datos_google_unicos.shape

(178, 5)

In [13]:
datos_google_unicos.to_csv("Data/df_datos_google_unicos.csv")

In [14]:
datos_google_unicos.head(1)

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
0,Rosewood Castiglion del Bosco,4.8,4.3,4.1,4.6