# Carga en SQL

In [1]:
import pandas as pd
import sqlalchemy as alch

from getpass import getpass

CSV para cargar

In [17]:
google_reviews = pd.read_csv("Data/df_datos_google_clean.csv", sep=',', encoding='UTF-8', index_col=0)
trip_reviews = pd.read_csv("Data/df_datos_trip.csv", sep=',', encoding='UTF-8', index_col=0)
hotels_travel_and_leisure = pd.read_csv("Data/df_hotels_22&21.csv", sep=',', encoding='UTF-8', index_col=0)

In [14]:
password = getpass("Contraseña de MySQL: ")

Contraseña de MySQL: ········

In [18]:
google_reviews

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
0,Rosewood Castiglion del Bosco,4.8,4.3,4.1,4.6
1,Grace Hotel,4.6,4.8,4.6,4.5
2,Waldorf Astoria Maldives Ithaafushi,4.7,4.6,4.6,4.6
3,Pickering House Inn,4.6,4.8,4.6,4.5
4,One&Only Reethi Rah,4.9,4.1,4.6,4.2
...,...,...,...,...,...
195,Hôtel Le Toiny,4.5,5.0,4.0,5.0
196,Rosewood Mayakoba,4.8,0.0,0.0,0.0
197,Canaves Oia Boutique Hotel,4.9,0.0,0.0,0.0
198,Montage Los Cabos,4.8,0.0,0.0,0.0
199,Badrutt's Palace Hotel,4.7,4.4,4.8,4.4

In [5]:
trip_reviews.head()

,Hotel,Trip_Rate,Trip_Location,Trip_Cleanliness,Trip_Service,Trip_Value
0,Rosewood Castiglion del Bosco,5.0,4.7,4.9,4.8,4.4
1,Grace Hotel,5.0,4.9,4.9,4.8,4.4
2,Waldorf Astoria Maldives Ithaafushi,5.0,4.9,4.9,4.8,4.5
3,Pickering House Inn,5.0,5.0,4.8,4.9,4.4
4,One&Only Reethi Rah,5.0,4.8,4.9,4.8,4.2

In [6]:
hotels_travel_and_leisure.head()

,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year
0,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022
1,Grace Hotel,Santorini,Greece,Europe,Auberge Resorts Collection,99.22,2,20,Small,Coastal,2000,21,1.0,6.0,2022
2,Waldorf Astoria Maldives Ithaafushi,Ithaafushi Island,Maldives,Southeast Asia,Hilton,99.11,3,119,Small,Island,2019,21,1.0,80.0,2022
3,Pickering House Inn,Wolfeboro,United States,North America,Peter and Patty Cooke,98.95,4,10,Small,Boutique,1813,19,1.0,34.0,2022
4,One&Only Reethi Rah,North Malé Atoll,Maldives,Southeast Asia,Kerzner International,98.93,5,130,Small,Island,2005,21,0.0,0.0,2022

In [7]:
from IPython.display import HTML

![SQL schema.png](images/SQL schema.png)

# Conexion MySQL

In [8]:
db_name = "Hoteles"

# creamos la conexipn con MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [9]:
engine = alch.create_engine(conexion)

# Insert data in SQL

In [10]:
google_reviews.head(2)

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
0,Rosewood Castiglion del Bosco,4.8,4.3,4.1,4.6
1,Grace Hotel,4.6,4.8,4.6,4.5

In [19]:
for index, row in google_reviews.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    hotel_name = engine.execute(f"""select idHoteles_google from Hoteles_google_rev WHERE idHoteles_google = "{row['Hotel']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(hotel_name)) > 0: 
        print(f"lo siento, el Hotel {row['Hotel']} ya existe")
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
            INSERT INTO Hoteles_google_rev (idHoteles_google, Google_rate, Google_habs , Google_location, Google_service) VALUES
            ("{row['Hotel']}","{row["Google_Rate"]}", "{row["Google_Habs"]}", "{row['Google_Location']}","{row["Google_Service"]}");""")

lo siento, el Hotel Rosewood Castiglion del Bosco ya existe
lo siento, el Hotel Grace Hotel ya existe
lo siento, el Hotel Waldorf Astoria Maldives Ithaafushi ya existe
lo siento, el Hotel Pickering House Inn ya existe
lo siento, el Hotel One&Only Reethi Rah ya existe
lo siento, el Hotel Royal Mansour Marrakech ya existe
lo siento, el Hotel Capella Ubud ya existe
lo siento, el Hotel La Reserve Paris ya existe
lo siento, el Hotel Pickering House Inn ya existe

In [11]:
trip_reviews.head(1)

,Hotel,Trip_Rate,Trip_Location,Trip_Cleanliness,Trip_Service,Trip_Value
0,Rosewood Castiglion del Bosco,5.0,4.7,4.9,4.8,4.4

In [ ]:
for index, row in trip_reviews.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    hotel_name = engine.execute(f"""select idHoteles_trip from Hoteles_tripad WHERE idHoteles_trip = "{row['Hotel']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(hotel_name)) > 0: 
        print("lo siento, este id ya existe") 
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
                INSERT INTO Hoteles_tripad (idHoteles_trip, Trip_rate, Trip_location, Trip_cleanliness, Trip_service, Trip_value ) VALUES
                ("{row['Hotel']}", "{row['Trip_Rate']}", "{row['Trip_Location']}","{row['Trip_Cleanliness']}","{row['Trip_Service']}","{row['Trip_Value']}" );""")

In [22]:
hotels_travel_and_leisure.head(1)

,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year
0,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022

In [24]:
for index, row in hotels_travel_and_leisure.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    city = engine.execute(f"""select idLocation from Location_city WHERE idLocation = "{row['Location']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(city)) > 0: 
        print("lo siento, esta ciudad ya existe") 
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
                INSERT INTO Location_city (idLocation, Country, Region) 
                VALUES
                ("{row['Location']}", "{row['Country']}", "{row['Region']}");""")

lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe

In [25]:
hotels_travel_and_leisure.head(1)

,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year
0,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022

In [33]:
for index, row in hotels_travel_and_leisure.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    hotel_type = engine.execute(f"""select idHotel_type from Hotel_theme WHERE idHotel_type = "{row['Hotel']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(hotel_type)) > 0: 
        print("lo siento, esta ciudad ya existe") 
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
                INSERT INTO Hotel_theme (idHotel_type, Rooms, Hotel_theme, Hotel_year_creation, Hotel_century_creation) 
                VALUES
                ("{row['Hotel']}", "{row['Rooms']}", "{row['Hotel_type']}","{row['Theme']}","{row['Year']}","{row['Century']}");""")

lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe
lo siento, esta ciudad ya existe

In [32]:
print(hotels_travel_and_leisure['Year'].dtypes)

int64

In [34]:
hotels_travel_and_leisure.head(1)

,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year
0,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022

In [40]:
hotels_travel_and_leisure.rename(columns={'level_0': 'new_name'}, inplace=True)
hotels_travel_and_leisure_index = hotels_travel_and_leisure.reset_index()

In [42]:
hotels_travel_and_leisure_index.head(1)

,level_0,new_name,index,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year
0,0,0,0,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022

In [46]:
for index, row in hotels_travel_and_leisure_index.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    index = engine.execute(f"""select idHoteles_ranking from Travel_Leisure_ranking WHERE idHoteles_ranking = "{row['index']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(index)) > 0: 
        print("lo siento, esta ciudad ya existe") 
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
                INSERT INTO Travel_Leisure_ranking (idHoteles_ranking, Hotel_name, City, Score, Rank, 2021_Rank, Past_rank, Rank_year) 
                VALUES
                ("{row['index']}", "{row['Hotel']}", "{row['Location']}","{row['Score']}","{row['Rank']}","{row['2021_Rank']}","{row['Past_rank']}","{row['Rank_Year']}");""")

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Rank, 2021_Rank, Past_rank, Rank_year) \n                VALUES\n                (' at line 1")
[SQL:
                INSERT INTO Travel_Leisure_ranking (idHoteles_ranking, Hotel_name, City, Score, Rank, 2021_Rank, Past_rank, Rank_year)
                VALUES
                ("0", "Rosewood Castiglion del Bosco", "Montalcino","99.25","1","0.0","0.0","2022");]
(Background on this error at: https://sqlalche.me/e/14/f405)