# Carga en SQL

In [1]:
import pandas as pd
import sqlalchemy as alch

from getpass import getpass

CSV para cargar

In [23]:
google_reviews = pd.read_csv("Data/df_datos_google_unicos.csv", sep=',', encoding='UTF-8', index_col=0)
trip_reviews = pd.read_csv("Data/df_datos_trip.csv", sep=',', encoding='UTF-8', index_col=0)
hotels_travel_and_leisure = pd.read_csv("Data/df_hotels_22&21.csv", sep=',', encoding='UTF-8', index_col=0)

In [3]:
password = getpass("Contraseña de MySQL: ")

Contraseña de MySQL: ········

In [24]:
google_reviews.head()

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
0,Rosewood Castiglion del Bosco,4.8,4.3,4.1,4.6
1,Grace Hotel,4.6,4.8,4.6,4.5
2,Waldorf Astoria Maldives Ithaafushi,4.7,4.6,4.6,4.6
3,Pickering House Inn,4.6,4.8,4.6,4.5
4,One&Only Reethi Rah,4.9,4.1,4.6,4.2

In [26]:
trip_reviews.head()

,Hotel,Trip_Rate,Trip_Location,Trip_Cleanliness,Trip_Service,Trip_Value
0,Rosewood Castiglion del Bosco,5.0,4.7,4.9,4.8,4.4
1,Grace Hotel,5.0,4.9,4.9,4.8,4.4
2,Waldorf Astoria Maldives Ithaafushi,5.0,4.9,4.9,4.8,4.5
3,Pickering House Inn,5.0,5.0,4.8,4.9,4.4
4,One&Only Reethi Rah,5.0,4.8,4.9,4.8,4.2

In [27]:
hotels_travel_and_leisure.head()

,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year
0,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022
1,Grace Hotel,Santorini,Greece,Europe,Auberge Resorts Collection,99.22,2,20,Small,Coastal,2000,21,1.0,6.0,2022
2,Waldorf Astoria Maldives Ithaafushi,Ithaafushi Island,Maldives,Southeast Asia,Hilton,99.11,3,119,Small,Island,2019,21,1.0,80.0,2022
3,Pickering House Inn,Wolfeboro,United States,North America,Peter and Patty Cooke,98.95,4,10,Small,Boutique,1813,19,1.0,34.0,2022
4,One&Only Reethi Rah,North Malé Atoll,Maldives,Southeast Asia,Kerzner International,98.93,5,130,Small,Island,2005,21,0.0,0.0,2022

In [13]:
from IPython.display import HTML

![SQL schema.png](images/SQL schema.png)

# Conexion MySQL

In [15]:
db_name = "Hoteles"

# creamos la conexipn con MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [16]:
engine = alch.create_engine(conexion)

# Insert data in SQL

In [33]:
Google_reviews.head(2)

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
0,Rosewood Castiglion del Bosco,4.8,4.3,4.1,4.6
1,Grace Hotel,4.6,4.8,4.6,4.5

In [32]:
for index, row in google_reviews.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    hotel_name = engine.execute(f"""select idHoteles_google from Hoteles_google_rev WHERE idHoteles_google = "{row['Hotel']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(hotel_name)) > 0: 
        print(f"lo siento, el Hotel {row['Hotel']} ya existe")
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
            INSERT INTO Hoteles_google_rev (idHoteles_google, Google_rate, Google_habs , Google_location, Google_service) VALUES
            ("{row['Hotel']}","{row["Google_Rate"]}", "{row["Google_Habs"]}", "{row['Google_Location']}","{row["Google_Service"]}");""")

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 'Google_habs' at row 1")
[SQL:
            INSERT INTO Hoteles_google_rev (idHoteles_google, Google_rate, Google_habs , Google_location, Google_service) VALUES
            ("The Lowell","4.6", "nan", "nan","nan");]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [28]:
trip_reviews.head(1)

,Hotel,Trip_Rate,Trip_Location,Trip_Cleanliness,Trip_Service,Trip_Value
0,Rosewood Castiglion del Bosco,5.0,4.7,4.9,4.8,4.4

In [36]:
for index, row in trip_reviews.iterrows():
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    hotel_name = engine.execute(f"""select idHoteles_trip from Hoteles_tripad WHERE idHoteles_trip = "{row['Hotel']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(hotel_name)) > 0: 
        print("lo siento, este id ya existe") 
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else: 
        engine.execute(f"""
                INSERT INTO Hoteles_tripad (idHoteles_trip, Trip_rate, Trip_location, Trip_cleanliness, Trip_service, Trip_value ) VALUES
                ("{row['Hotel']}", "{row['Trip_Rate']}", "{row['Trip_Location']}","{row['Trip_Cleanliness']}","{row['Trip_Service']}","{row['Trip_Value']}" );""")

lo siento, este id ya existe